

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-color: rgb(213, 212, 211);
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;

}


header{
    width: 1fr;
    height: 200px;
    background-image: url(/img/logo2.png);
    background-position: center;
}

/* nav */

.menu{
    background-color:  rgb(54, 76, 205);;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li{
    margin: 0 15px;
}

.menu ul li a{
    width: 220px;
    height: 35px;
    padding: 22px  ;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 28px;
}


nav ul li a:hover{
    color: rgb(1, 1, 1);
    background-color: rgb(116, 111, 111);
}


/* titulo de empresa y logo empresa */

main{
    padding: 1em;
}

.empresa{
    padding: 50px ;
    justify-content: center;
    
}

.empresa h1{
    width: 45%;
    margin: auto;
    text-align: center;
    padding: 12px;
    margin-bottom: 40px;
    background-color: rgb(73, 102, 189);
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgb(103, 109, 133);
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 45px;
}

.empresa img{
    width: 100%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgb(103, 109, 133);

}

.nosotros{
    width: 90%;
    padding: 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    margin: 50px;
}

.nosotros h3{
    width: 90%;
    margin-left: 20px;
    text-align: justify;
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.img1{
    width: 95%;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 30px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(103, 109, 133);

}

.com{
    width:30%;
    margin: auto;
    padding: 30px;
    font-family: "Kanit", sans-serif;
}

 /* tabla */
.table{
    display: table;
    margin-top: 20px;
    width: 80%;
    border-collapse: collapse;
    margin-left: 80px;
    text-align: center;
    border: solid 3px ;
}
.row{
    display: table-row;
    background-color: rgb(63, 45, 221);
    border: solid 3px ;
    color: white;

}

.celdas{
    display: table-cell;
    padding: 20px;
    border: solid 3px ;

}

.form{
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
}

/* aqui emoieza el footer */

footer{
    background-color:  rgb(54, 76, 205);
    width: 100%;
    height: auto;
    text-align: center; color: white;
}

.pie{
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.pie{
    font-family: "Kanit", sans-serif;
    font-size: 20px;
}

/* .empresa{
    margin: 20px;
} */

@media(max-width: 769px){

    .menu ul{
        flex-direction: column;
        
    }
    .menu ul li{
        
        /* border-bottom: 2px solid black; */
        border-top: 2px solid black;
        display: flex;
        justify-content: center;
    }
    .menu ul li a{
        /* margin-left: 230px; */
        text-align: center;
        border-collapse: collapse;
    }

    .empresa h1{
        width: 70%;
    }

    .servicio{
        grid-template-columns: 1fr;
    }

    .pintura-row{
        grid-template-columns: 1fr;
    }
    .pie{
        grid-template-columns: 1fr;
    }

}

@media (min-width: 769px) and (max-width: 1024px){

    .menu ul{
        flex-direction: column;
        
    }
    .menu ul li{
        
        /* border-bottom: 2px solid black; */
        border-top: 2px solid black;
        display: flex;
        justify-content: center;
    }
    .menu ul li a{
        /* margin-left: 230px; */
        text-align: center;
        border-collapse: collapse;
    }
}