@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body{
    background-color: rgb(213, 212, 211);
    margin: 0;
    padding: 0;
}

header{
    width: 1fr;
    height: 200px;
    background-image: url(/img/logo2.png);
    background-position: center;
}


/* navegacion */
.menu{
    background-color:  rgb(54, 76, 205);;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li{
    margin: 0 15px;
}

.menu ul li a{
    width: 260px;
    /* height: px; */
    padding: 20px  ;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 28px;
}

.menu img{
    display: flex;
    
}


nav ul li a:hover{
    color: rgb(1, 1, 1);
    background-color: rgb(116, 111, 111);
}

.obras h1{
    
    width: 25%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    padding: 22px;
    background-color: rgb(73, 102, 189);
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgb(103, 109, 133);
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 40px;


}

.obras img{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgb(103, 109, 133);

}

main{
    margin: 2rem;
}

/* EL contenido */

.acabados-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: 4%;
}

/* .sub{
    margin-bottom: 10px;
    width: 28%;
    margin-left: 34%;
    padding: 20px;
    text-align: center;
    background-color: rgb(73, 102, 189);
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgb(103, 109, 133);
    color: white;
} */

.aca-elementos img{
    width: 40%;
    margin-left: 6%;
    box-shadow: 0px 5px 20px rgb(103, 109, 133);
    border-radius: 20px;
    margin-top: 30px;

}

.aca-elementos h2{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(73, 102, 189);
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgb(103, 109, 133);
    color: white;
    font-family: "Kanit", sans-serif;
    font-size: 28px;
}



.aca-elementos p{
    width: 80%;
    margin-left: 11%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 140px;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
    background-color: rgb(243, 243, 243);
    padding: 15px;
    border-radius: 20px;
    
}

.form{
    font-weight: bold;
    font-size: 25px;
    margin-left: 30px;
}

/* pie de pagina */
.com{
    width:40%;
    margin: auto;
    padding: 10px;
    font-family: "Kanit", sans-serif;

}
footer{
   
    background-color:  rgb(54, 76, 205);
    width: 100%;
    height: auto;
    text-align: center; color: white;
}

.pie{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.pie p{
    font-family: "Kanit", sans-serif;
    font-size: 20px;
}

.empresa{
    font-weight: bold;
}


@media(max-width: 786px){

    .menu ul{
        flex-direction: column;
        
    }
    .menu ul li{
        
        /* border-bottom: 2px solid black; */
        border-top: 2px solid black;
        display: flex;
        justify-content: center;
    }
    .menu ul li a{
        /* margin-left: 230px; */
        text-align: center;
        border-collapse: collapse;
    }

    .obras h1{
        width: 50%;
    }

    .aca-elementos h2{
        width: 100%;
    }
    .acabados{
        grid-template-columns: 1fr;
    }
    .pie{
        grid-template-columns: 1fr;
    }

}

@media (min-width: 769px) and (max-width: 1024px){

    .menu ul{
        flex-direction: column;
        
    }
    .menu ul li{
        
        /* border-bottom: 2px solid black; */
        border-top: 2px solid black;
        display: flex;
        justify-content: center;
    }
    .menu ul li a{
        /* margin-left: 230px; */
        text-align: center;
        border-collapse: collapse;
    }

    .acabados-grid{
        grid-template-columns: 1fr;
    }
}

